---
import { Astro } from 'astro';
import fs from 'fs';
import path from 'path';
import { dataList } from '../../utils/data';
import '~/styles/dataset.css';
import Layout from '~/layouts/LandingLayout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import RightSection from '~/components/dataset/RightSection.astro';
import Tags from '~/components/dataset/Tags.astro';
import DescriptionSection from '~/components/dataset/DescriptionSection.astro';
import Tabs from '~/components/dataset/Tabs.astro';
// import { BibtexParser } from 'bibtex-js-parser';
import { getCollection } from 'astro:content';

const posts = await getCollection('data');
export async function getStaticPaths() {
  return dataList.map(data => ({
    params: { id: data.id },
  }));
}

const { id } = Astro.params ;
const dataItem = dataList.find(data => data.id === id);
function findIndexById(id) {
    return dataList.findIndex(item => item.id === id);
}
const index = findIndexById(id);
const { body } = posts[index];
const { bibtex, tags, author, title, image, journal } = posts[index].data;
// let content = '';
// if (dataItem) {
//   const filePath = path.resolve(`../..//src/content/data/${id}.md`);
//   try {
//     content = fs.readFileSync(filePath, 'utf-8');
//   } catch (error) {
//     console.error(`Failed to read file at ${filePath}:`, error);
//   }
// }
const getImagePath = (filePath: string) => {
  if (filePath.startsWith('~')) {
    return filePath.replace('~/', '/src/');
  }
};
const authors = author.split(' and ').map((item) => ({
  avatar: 'https://img.ixintu.com/download/jpg/20200910/f9256155491e54bf5e99bf29eece0156_512_512.jpg!ys',
  name: item,
}));
const paperLinks = {
  url: '',
  text: journal,
};

const text = body;
const mainFigPath = getImagePath(image);
console.log(mainFigPath);

const metadata = {
  title: 'Dataset',
};

const datasetName = title;
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <div>
    <div class="figureContainer">
      <!-- <img src="/src/assets/images/dataset/SALAD-Bench.png" class="figure" /> -->
      <img src={image} class="figure" />
    </div>
    <div class="border-b-4 pb-4 ml-16 mr-16">
      <center>
        <h2 class="datasetName">
          {datasetName}
        </h2>
        <Tags tags={tags} />
      </center>
    </div>
    <div class="mainContainer">
      <div class="left-section">
        <Tabs />
        <DescriptionSection text={text} />
      </div>
      <div class="right-section">
        <RightSection links={paperLinks} authors={authors} bibtex={bibtex} />
      </div>
      <div style="flex:0.25"></div>
      <!-- 占位 -->
    </div>
  </div>
</Layout>
