---
import '../../styles/rightSection.css';
export interface Props {
  links: object;
  authors: object[];
  bibtex: string;
}

const { links, authors, bibtex } = Astro.props;
---

<div>
  <h4 class="section-title">Paper Link</h4>
  <a href={links.url} target="_blank" class="dark:text-gray-400">{links.text}</a>
  <h4 class="section-title">Authors</h4>
  <ul>
    {
      authors
        ? authors.map((item) => {
            return (
              <li>
                <a href="" class="authorContainer flex dark:text-gray-400 dark:border-gray-400">
                  <img src={item.avatar} class="avatar w-12 h-12" />
                  <div class="authorName">{item.name}</div>
                </a>
              </li>
            );
          })
        : null
    }
  </ul>
  <h4 class="section-title">Bibtex</h4>
  <p class="dark:text-gray-400">{bibtex}</p>
</div>
